/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;



}

main > .intro {
	/*font-family: 'Reem Kufi', sans-serif;*/
	font-family: 'Dancing Script', cursive;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .img {
	border:1px solid #ddd;
	/*border-radius: 4px;*/
	border-radius: 50%;
    padding: 5px;
    width: 300px;
    margin-left: auto;
    margin-right:auto;


}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

small {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

main > .small {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;


}


.two-column-layout {
	display: flex;
	flex-wrap: wrap;
}

	.two-column-layout > section {
		flex: 1 1 50%; /* Adjust the percentage as needed for your layout */
	}


#education ul {
	list-style-type: disc; /* or another style you prefer */
	padding-left: 20px; /* Adjust padding as needed */
	text-align: justify;
}

#education li {
	margin-bottom: 10px; /* Space between items */
}


.styled-list ul {
	list-style-type: disc; /* or any style you prefer */
	padding-left: 20px; /* Adjust padding as needed */
	text-align: justify;
}
.styled-list li {
	margin-bottom: 10px; /* Space between items */
}





